button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	color: $color__button;
	text-transform: uppercase;
	-webkit-appearance: none;
	border: none;
	border-radius: 25px;
	font-size: .75em;
	letter-spacing: .125em;
	padding: 1em 3.5em;
	transition:background-color .25s, box-shadow .25s;


	&:hover {
		background-color: lighten($color__background-button, 10%);
		// box-shadow: inset 0 0 2em darken($color__background-button, 20%);
	}

	&:active,
	&:focus {

	}
}