.wrapper {
    max-width: $width_max-content-width;
    margin-left: auto;
    margin-right: auto;
    @include padding-left-right;
}

.center {
    text-align: center;
}

// .wrapper-wide {
//     @extend .wrapper;
//     max-width: $width_max-content-width-lg;
// }

// #content {
//     background-color:;
//     color:;
//     padding-top:
//

.error-404 .page-content {
    text-align: center;
    padding-bottom: 3em;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";