.blog-post-wrapper {
    @include padding-left-right;

    .post {
        margin-bottom: 3em;
    }

    // .pagination {

    //     .nav-links {

    //         .current {
    //             padding: .5em;
    //         }

    //         a {
    //             text-decoration: none;
    //             background-color: $color__green;
    //             padding: .5em;
    //             color: #fff;
    //         }
    //     }
    // }
    //
    /* Pagination */
    .pagination {
        clear:both;
        position:relative;
        font-size:11px; /* Pagination text size */
        line-height:13px;
        float:left; /* Pagination float direction */

        .intro {
            background-color: transparent;
            color: $color__dark-gray;
        }

    }

    .pagination span, .pagination a {
        display:block;
        float:left;
        margin: 2px 2px 2px 0;
        padding:6px 9px 5px 9px;
        text-decoration:none;
        width:auto;
        color:#fff; /* Pagination text color */
        background: $color__green; /* Pagination non-active background color */
        -webkit-transition: background .15s ease-in-out;
        -moz-transition: background .15s ease-in-out;
        -ms-transition: background .15s ease-in-out;
        -o-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
    }

    .pagination a:hover{
        color:#fff;
        background: $color__purple; /* Pagination background on hover */
    }

    .pagination .current{
        padding:6px 9px 5px 9px;
        background: $color__purple; /* Current page background */
        color:#fff;
    }

    .view-full-post {
        a {
            text-decoration: none;
            margin-left: .5em;
            color: $color__purple;
        }
    }
}

