/*--------------------------------------------------------------
### Simple Content Section
--------------------------------------------------------------*/

.simple-content-section {


}


/*--------------------------------------------------------------
### Advanced Content Section
--------------------------------------------------------------*/

.advanced-content-section {
    padding-top: 3em;
    padding-bottom: 3em;

    .header-img {
        @include center-block;
    }

    h2, h3 {
        text-align: center;
    }

    .content-footer-wrapper {
        max-width: 500px;
        @include center-block;

        a {

            text-decoration: none;

            button {
                @include center-block;
            }
        }

        .footer-img {
            width: 80px;
            margin-top: 2em;
            margin-bottom: 2em;
            @include center-block;

        }

        @include respond-to(medium) {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

}

/*--------------------------------------------------------------
### Green Brain Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
### Green Left Image Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
### Testimonial Section
--------------------------------------------------------------*/

.testimonial-section {
    background-color: $color__purple;
    min-height: 200px;

    .content-section-wrapper {
        @extend .wrapper;
    }

    .testimonial-carousel {
        height: 300px;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;

        .cell {
            width: 100%;

            &:after {
                 content: "";
                 display: block;
                 padding-bottom: 100%;
            }

            a {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                outline: none;
                text-decoration: none;
                transition:box-shadow .25s ease-out;
                margin: 1em;

                &:hover {
                    box-shadow: 0 0 7px rgba(0, 0, 0, .35);
                }
            }

            img {
                border-radius: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: .5em;
            }

            span {
                display: block;

                &.comm-title {
                    // font-family: $font__alt-bold;
                    text-transform: uppercase;
                }

                &.comm-location {
                    // color: $color__text-main;
                }
            }
        }

        @include respond-to(x-small) {
            button.flickity-prev-next-button.previous { left: -80px; }
            button.flickity-prev-next-button.next { right: -80px; }
        }

        @include respond-to(small) {
            max-width: 675px;
            height: 350px;

            .cell {
                width: 50%;
            }

            button.flickity-prev-next-button.previous { left: -45px; }
            button.flickity-prev-next-button.next { right: -45px; }
        }

        @include respond-to(medium) {
            max-width: 925px;

            .cell {
                width: 33.333%;
            }
        }

        @include respond-to(large) {
            max-width: 1050px;

            .cell {
                width: 28%;
                margin: 3% 4%;
            }
        }
    }
}

/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/

.associates-section {

    .content-section-wrapper {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color__text-main;

    }

    img {
        @include center-block;
        border-radius: 50%;
    }

    h4, h5 {
        @include reset;
    }

    h4 {
        margin-top: .5em;
    }

    .associate-block {
        padding-top: 2em;
        padding-bottom: 2em;
        transition:box-shadow .25s ease-out;

        &:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, .35);
            color: #656b6f;
        }
    }

    @include respond-to(small) {

        .flex-wrapper {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }
        .associate-block {
            flex: 1 0 calc(100% / 3);
        }
    }
}


/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/