/*--------------------------------------------------------------
### Simple Content Section
--------------------------------------------------------------*/

.simple-content-section {

    color: #333;

    .content-section-wrapper {
        @include section-padding;


    }


}


/*--------------------------------------------------------------
### Advanced Content Section
--------------------------------------------------------------*/

.advanced-content-section {
    padding-top: 3em;
    padding-bottom: 3em;

    .header-img {
        @include center-block;
    }

    h2, h3 {
        text-align: center;
    }

    .content-footer-wrapper {
        max-width: 500px;
        @include center-block;

        a {

            text-decoration: none;

            button {
                @include center-block;
            }
        }

        .footer-img {
            width: 80px;
            margin-top: 2em;
            margin-bottom: 2em;
            @include center-block;

        }

        @include respond-to(medium) {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

}

/*--------------------------------------------------------------
### Color Callout Section OG
--------------------------------------------------------------*/

// .color-callout-section-img {

//     color: #000;

//     h2 {
//         color: #fff;
//     }

//     .background-img-fade {
//         padding:0;
//         background-size: 150%;
//         background-position: -250px 80%;
//         background-repeat: no-repeat;
//     }

//     .content-section-wrapper {
//         @include section-padding;
//         background-color: rgba(36,207,95, 0.7);
//     }

//     @include respond-to(mobile) {
//         .background-img-fade {
//             background-size: contain;
//             background-position: -200px 70%;
//         }
//     }

//     @include respond-to(small) {
//         .background-img-fade {
//             // background-size: 70%;
//             background-position: -20% 50%;
//         }

//         .editor-wrapper {
//             margin-left: calc(50% - 100px);
//         }
//     }
// }

// .color-callout-section-no-img {

//     color: #000;

//     h2 {
//         color: #fff;
//     }

//     .content-section-wrapper {
//         @include section-padding;

//         .color-callout-img {
//             display: block;
//             margin-bottom: 2em;
//             text-align: center;
//         }
//     }

//     @include respond-to(mobile) {

//     }

//     @include respond-to(small) {
//         .content-section-wrapper {
//             display: flex;

//             .color-callout-img {
//                 display: inline-flex;
//                 flex: 1 0 30%;
//             }

//             .editor-wrapper {
//                 flex: 1 1 auto;
//             }
//         }
//     }
// }


/*--------------------------------------------------------------
### Color Callout Section Copy
--------------------------------------------------------------*/

//style="background-image:url(http://localhost:8888/leading-minds/wp-content/themes/leading_minds/imgs/brains.svg);background-color:<?php echo $bg_color; ?>;"

/*

xbg-default : White (Default)
xgreen-brain-left : Green Section (Brain Left)
xlt-gray-brain-left : Light Gray Section (Brain Left)
gxreen-brain-center : Green Section (Brain Center)
lt-gray-brain-center : Light Gray (Brain Center)
green-img-left : Green Section (Image Left)
bg-none : None

*/

.color-callout-section {

    .bg-default {
        background-color: #fff;

        text-align: center;

        .color-callout-img {
            display: none;
        }
    }

    .green-brain-left {
        background-color: $color__bg-green;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://localhost:8888/test-site/wp-content/themes/test/imgs/brains.svg);
            background-size: 50%;
            background-position: -250px 80%;

            .content-section-wrapper {
                @include section-padding;
                background-color: rgba(36,207,95, 0.7);
            }

            @include respond-to(mobile) {
                background-size: contain;
                background-position: -200px 70%;
            }

            @include respond-to(small) {
                background-position: -20% 50%;

                .editor-wrapper {
                    margin-left: calc(50% - 100px);
                }
            }
        }
    }

    .lt-gray-brain-left {
        background-color: $color__bg-ltgray;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://localhost:8888/test-site/wp-content/themes/test/imgs/brains.svg);
            background-size: 50%;
            background-position: -250px 80%;

            .content-section-wrapper {
                @include section-padding;
                background-color: rgba(232,232,232, 0.7);
            }

            @include respond-to(mobile) {
                background-size: contain;
                background-position: -200px 70%;
            }

            @include respond-to(small) {
                background-position: -20% 50%;

                .editor-wrapper {
                    margin-left: calc(50% - 100px);
                }
            }
        }
    }

    .green-brain-center {
        background-color: $color__bg-green;
        text-align: center;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://localhost:8888/test-site/wp-content/themes/test/imgs/brains.svg);
            background-size: 40%;
            background-position: 50%;

            .content-section-wrapper {
                @include section-padding;
                background-color: rgba(36,207,95, 0.7);
            }

            h2 {
                color: #fff;
            }
        }
    }

    .lt-gray-brain-center {
        background-color: $color__bg-green;
        text-align: center;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://localhost:8888/test-site/wp-content/themes/test/imgs/brains.svg);
            background-size: 40%;
            background-position: 50%;

            .content-section-wrapper {
                @include section-padding;
                background-color: rgba(36,207,95, 0.7);
            }

            h2 {
                color: #fff;
            }
        }
    }

    .green-img-left {

        background-color: $color__bg-green;

        h2 {
            color: #fff;
        }

        .content-section-wrapper {
            @include section-padding;

            .color-callout-img {
                display: block;
                margin-bottom: 2em;
                text-align: center;
                }
            }

            @include respond-to(mobile) {

            }

            @include respond-to(small) {
                .content-section-wrapper {
                    display: flex;

                    .color-callout-img {
                        display: inline-flex;
                        flex: 1 0 30%;
                    }

                    .editor-wrapper {
                        flex: 1 1 auto;
                    }
                }
            }
    }

}

/*--------------------------------------------------------------
### Mid Page Navigation Section
--------------------------------------------------------------*/

.mid-page-navigation-section {

    .content-section-wrapper {
        max-width: $width_max-content-width;
        margin-left: auto;
        margin-right: auto;
        background-color: $color__orange;


        .margin-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-right: -1px;
        }

        .nav-container {
            background-color: #fff;
            flex: 1 1 50%;

            .nav-wrapper {
                background-color: $color__orange;
                min-height: 100px;
                margin-bottom: 1px;
                margin-right: 1px;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .nav-content {
                max-width: 50%;
                text-align: center;
                color: #fff;
            }

            h3 {
                @include reset;
                display: block;
                color: #000;
                text-transform: uppercase;
            }

            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
}

/*--------------------------------------------------------------
### Testimonial Section
--------------------------------------------------------------*/

.testimonial-section {
    min-height: 300px;
    text-align: center;

    .content-section-wrapper {
        background-color: $color__purple;
        @extend .wrapper;
    }

    .testimonial-carousel {
        height: 300px;
        margin-right: 20%;
        margin-left: 20%;

        .cell {
          width: 100%; /* full width */
          height: 100%; /* height of carousel */
          // margin-left:20%;
          // margin-right:20%;
        }
    }

    .flickity-page-dots {
        bottom: 10px;
        color: #fff;
    }
}

/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/

.associates-section {

    .content-section-wrapper {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color__text-main;

    }

    img {
        @include center-block;
        border-radius: 50%;
    }

    h4, h5 {
        @include reset;
    }

    h4 {
        margin-top: .5em;
    }

    .associate-block {
        padding-top: 2em;
        padding-bottom: 2em;
        transition:box-shadow .25s ease-out;

        &:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, .35);
            color: #656b6f;
        }
    }

    @include respond-to(small) {

        .flex-wrapper {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }
        .associate-block {
            flex: 1 0 calc(100% / 3);
        }
    }
}


/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/