
$color__purple: #282560;
$color__green: #24cf5f;
$color__blue: #254b99;
$color__orange: #f53f00;
$color__light-gray: #e8e8e8;
$color__dark-gray: #3b3d40;


// Associates
//#656b6f;
//#3b3d40;

$color__text-main: #656b6f;
$color__gray-heading: #666666;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__background-button: $color__green;
$color__button: #fff;

$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;